// out: ../styles/main.css, sourcemap: true, compress: true

/* Mobile first queries */
@import 'reset'
@import 'fontface'

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.30)
$blue = #191D63

//Futura-Heavy          700
//Futura-Book           400

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

html, body
  margin 0 auto
  padding 0
  width 100%
  height 100%
  font-size 14px
  font-weight 400
  font-family goth, 'Open Sans', sans-serif
  color $white


@import 'media-queries'
